Cython==0.28.2

#database
psycopg2==2.7.5
SQLAlchemy==1.2.11

#machine learning
numpy==1.14.3
pandas==0.23.0
python-dateutil==2.7.3
pytz==2018.5
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0

#GUI

Kivy==1.10.1
Kivy-Garden==0.1.4
pygame==1.9.4
#GUI / Windows
kivy.deps.sdl2 ; platform_system == "Windows"
kivy.deps.glew ; platform_system == "Windows"

#Style
pycodestyle==2.4.0

#Build
pyinstaller==3.4

#Tests
parameterized==0.6.1
